.home {
  flex-direction: column;
}
.home .bem-vindo {
  background: var(--branco);
  margin: 16px 0;
  padding: 24px 16px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .users {
  background: var(--branco);
  margin-top: 16px;
  border-radius: 8px;
  height: 100px;
}
.home h1 {
  margin-top: 32px;
}
.home h1:first-child {
  margin-top: 0;
}