.new-task {
  display: flex;
  flex-direction: column;
}
.new-task .container-form {
  background: #fff;
  margin-top: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.new-task .container-form .form {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.new-task .container-form .form input, select {
  border: 0;
  background: #04827220;
  border-radius: 4px;
  height: 36px;
  padding: 0 8px;
  flex: 1;
}
.new-task .container-form .botoes {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.tasks-grid {
  display: flex;
  flex-direction: column;
}
.tasks-grid h1 {
  margin-bottom: 16px;
}