:root {
  --verde-escuro: #048272;
  --verde-claro: #04827220;
  --branco: #fff;
  --cinza: #f2f3f7;
  --preto: #1f1f1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto",sans-serif;
  background: var(--cinza);
  color: var(--preto);
}
.container {
  padding: 32px 16px;
  display: flex;
}
.btn {
  border: 0;
  border-radius: 4px;
  width: 150px;
  height: 36px;
  font-size: 1rem;
  cursor: pointer;
}
.primary {
  background: var(--verde-escuro);
  color: var(--branco);
}