.user-detail {
  display: flex;
  flex-direction: column;
}
.user-detail .container-form {
  background: var(--branco);
  margin-top: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.user-detail .container-form .form {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}
.user-detail .container-form .form .input {
  display: flex;
  flex-direction: column;
  height: 56px;
}
.user-detail .container-form .form .input label {
  font-size: .8rem;
  margin-bottom: 2px;
}
.user-detail .container-form .form .input input, select {
  border: 0;
  background: var(--verde-claro);
  border-radius: 4px;
  height: 36px;
  padding: 0 8px;
  flex: 1;
}
.user-detail .container-form .botoes {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}